
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Welcome Admin!

    <form action="~/Admin/ViewRequests">
         <input type="submit" class="myButton" value="View Cash Out Requests" />
</form>

    <form action="~/Admin/LogOut">
        <input type="submit"
               class="myButton" value="Logout" />
    </form>
</body>
</html>
