
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>

    <form method="post" action="~/Merchant/ChangePassword">
        <fieldset>
            <label for="txtOldPwd">Current Password:</label>
            <input type="password" name="txtOldPwd"
                   id="txtOldPwd" style="width:100px"
                   required /><br /><br />
            <label for="txtNewPwd">New Password:</label>
            <input type="password" name="txtNewPwd"
                   id="txtNewPwd" style="width:100px"
                   required /><br /><br />
            <label for="txtCfmPwd">Confirm New Password:</label>
            <input type="password" name="txtCfmPwd"
                   id="txtCfmPwd" style="width:100px"
                   required /><br /><br />
            <input type="submit" id="btnChangePassword"
                   class="myButton" value="Change Password" />
            <br />
            <span style="color:red;">@TempData["Message"]</span>
        </fieldset>
    </form>

</head>
<body>
</body>
</html>
